@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@400..700&family=Science+Gothic:wght@100..900&family=Tourney:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --colorBlack: #000000;
    
    --color1: #422878;
    --color2: #7765bd;
    --color3: #b1a0ea;
    
    --color4: #642a54;
    --color5: #9f528b;
    --color6: #cb86b9;
    
    --color7: #102251;
    --color8: #415ca2;
    --color9: #779cc8;
    
    --colorWhite: #fdfdfd;
  
  
    --tcolor1: rgb(66, 40, 120, 0.4);
    --tcolor2: rgb(119, 101, 189, 0.4);
    --tcolor3: rgb(177, 160, 234, 0.4);
    
    --tcolor4: rgb(100, 42, 84, 0.4);
    --tcolor5: rgb(159, 82, 139, 0.4);
    --tcolor6: rgb(203, 134, 185, 0.4);
    
    --tcolor7: rgb(16, 34, 81, 0.4);
    --tcolor8: rgb(65, 92, 162, 0.4);
    --tcolor9: rgb(119, 156, 200, 0.4);

  --font-1: 'Tourney', sans-serif;
  --font-2: 'Science Gothic', sans-serif;
  --font-3: 'Edu SA Beginner', sans-serif;
}

body {
    background: url(https://images.pexels.com/photos/34210891/pexels-photo-34210891.jpeg) content-box;
    background-size: cover;
}
