@import url('https://fonts.googleapis.com/css2?family=Glass+Antiqua&family=Sue+Ellen+Francisco&display=swap');

:root {
    --colorBlack: #000000;

    --color1: #0C2521;
    --color2: #2D7868;
    --color3: #64B39A;

    --color4: #0B2558;
    --color5: #1C618B;
    --color6: #2D90A7;

    --colorWhite: #D0FEFF;

    --tcolor1: rgba(12, 37, 33, 0.5);
    --tcolor2: rgba(45, 120, 104, 0.5);
    --tcolor3: rgba(11, 37, 88, 0.5);
    --tcolor4: rgba(28, 97, 139, 0.5);

    --tcolor5: rgba(124, 206, 151, 0.5);
    --tcolor6: rgba(162, 220, 163, 0.5);

    --tcolor7: rgba(63, 191, 192, 0.3);
    --tcolor8: rgba(83, 242, 184, 0.3);
    --tcolor9: rgba(208, 254, 255, 0.3);

    --font-1: "Glass Antiqua", cursive;
    --font-2: "Sue Ellen Francisco", cursive;
}

body {
    background: url(https://images.pexels.com/photos/17598831/pexels-photo-17598831.jpeg) fixed center;
    background-size: cover;
}
