@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@400..700&family=Science+Gothic:wght@100..900&family=Tourney:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --colorBlack: #000000;
    
    --color1: #422878;
    --color2: #7765bd;
    --color3: #b1a0ea;
    
    --color4: #642a54;
    --color5: #9f528b;
    --color6: #cb86b9;
    
    --color7: #102251;
    --color8: #415ca2;
    --color9: #779cc8;
    
    --colorWhite: #fdfdfd;
  
    --tcolor1: rgb(66, 40, 120, 0.4);
    --tcolor2: rgb(119, 101, 189, 0.4);
    --tcolor3: rgb(177, 160, 234, 0.4);
    
    --tcolor4: rgb(100, 42, 84, 0.4);
    --tcolor5: rgb(159, 82, 139, 0.4);
    --tcolor6: rgb(203, 134, 185, 0.4);
    
    --tcolor7: rgb(16, 34, 81, 0.4);
    --tcolor8: rgb(65, 92, 162, 0.4);
    --tcolor9: rgb(119, 156, 200, 0.4);

  --font-1: 'Tourney', sans-serif;
  --font-2: 'Science Gothic', sans-serif;
  --font-3: 'Edu SA Beginner', sans-serif;
}

body {
    background: url(https://images.pexels.com/photos/34210891/pexels-photo-34210891.jpeg) content-box;
    background-size: cover;
}

/*topbar*/
.container.topbar {
    width: 100%;
    font-family: var(--font-2);
    font-size: small;
    font-weight: 300;
    border-bottom: 3px solid var(--color7);
    background: var(--tcolor7);
    color: var(--colorWhite);
}

.container.topbar a {
    color: var(--color9);
    font-weight: 400;
}

.container.topbar a:hover {
    background: var(--tcolor7);
    padding: 4px 8px;
    font-weight: 600;
    border-radius: 10px;
}

/*main*/
.container.main {
    background: var(--tcolor1);
    border: 4px solid var(--color1);
    box-shadow: none;
}

/*navbar*/
nav.navbar.navbar-default {
    background: none;
    border-bottom: 4px dotted var(--color1);
}

nav.navbar.navbar-default a {
    color: var(--color9);
    font-family: var(--font-3);
}

nav.navbar.navbar-default a:hover {
    background: var(--tcolor7);
    border-radius: 15px;
    color: var(--color8);
}

a.navbar-brand.visible-lg.visible-md img {
    filter: saturate(0.7) brightness(75%) hue-rotate(227deg);
    background: none;
}

a.navbar-brand.visible-lg.visible-md img:hover {
    background: none;
}

/*page*/
.col-md-9 {
    background: none;
    font-family: var(--font-3);
    font-size: initial;
    padding-top: 25px;
}


/*breadcrumb*/
ol.breadcrumb {
    background: var(--tcolor3);
    color: var(--colorWhite);
}

ol.breadcrumb a {
    color: var(--color3);
}

ol.breadcrumb a {
    background: var(--tcolor7);
    border-radius: 15px;
    color: var(--color9);
    padding: 5px;
}

li.breadcrumb-item.active {
    color: var(--colorWhite);
}

input.floatright {
    background: var(--color1);
    text-shadow: none;
    color: var(--color3);
    border: none;
}

input.floatright:hover {
    background: var(--color2);
    border: 2px solid var(--color1);
    text-shadow: none;
    color: var(--color1);
    border-radius: 15px;
}

/*alerts*/
.alert.alert-success {
    color: var(--color9);
    background: var(--color7);
    border: none;
}


/*cave owner*/
.center {
    text-align: center;
    color: var(--color9);
}

.center small {
    color: var(--color8);
}

/*works with almost all links that have the class .center*/
.center a {
    color: var(--color9);
}
.center a:hover { 
    background: var(--tcolor7);
    border-radius: 15px;
    color: var(--color8);
}


/*lion */
.featured-lion {
    background: var(--color1);
    border: none;
    border-radius: 20px;
}
.featured-lion a {
    color: var(--color8) !important;
}
/*Lion background image*/
.lion-image-block img:nth-child(1) {
    content: url(https://static.lioden.com/images/dynamic/backgrounds/romance_03.png);
}
